<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="{% static 'images/Logo.png' %}" />
        <h1>DawgHouse</h1>
      </div>
      <form method="post">
        {% csrf_token %} {{ form.username }} {{ form.password }}
        <div class="lbutton">
          <button type="submit">Login</button>
        </div>
        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
        <p>OR</p>
        <div class="jbutton">
          <a href="{% url 'signup' %}" class="button-link">Sign Up</a>
        </div>
      </form>
    </div>
  </body>
</html>
