<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}
    <style>
        .hidden-link {
            text-decoration: none;
            color: inherit;
        }
        .hidden-link:hover {
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Homepage</title>
</head>
<body>
<div class="box">
    <div class="sidebar">
        <p> DawgHouse </p>
        <ul>
            <li>
                <a href="" class="active">
                    <span class="icon"><i class='bx bx-home'></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'profile' user.username %}">
                    <span class="icon"><i class='bx bx-user-circle'></i></span>
                    <span class="item">Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'accept_example' %}">
                    <span class="icon"><i class='bx bxs-dog'></i></span>
                    <span class="item">Sniff</span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout_view' %}" class="active">
                    <span class="icon"><i class='bx bx-log-out'></i></span>
                    <span class="item">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="searchbar">
    <form action="{% url 'search_users' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Search by Dawgtag..." name="username">
        <button type="submit"><i class='bx bx-search'></i></button>
    </form>
</div>
<div class="timeline">
</div>

<!-- Barks-->
<div class="barks-container">
    <h2>Timeline</h2>
    <ul>
        {% for bark in barks %}
        <li class="bark">
            <div class="bark-header">
                <h3><strong><a href="{% url 'profile' bark.user.username %}" class="hidden-link">{{ bark.user.first_name }} {{ bark.user.last_name }}</a></strong></h3>
                <p class="timestamp">{{ bark.timestamp }}</p>
            </div>
            <h4>@{{ bark.user.username }}</h4>
            <hr color="maroon">
            <p>{{ bark.content }}</p>
            <div class="counters-container">
                <h4 class="counters-container">
                    <strong>{{ bark.num_likes }}</strong> Treats
                    <span class="comment-counter"><strong>{{ bark.num_yips }}</strong> Yips</span> <!--needs backend-->
                </h4>
            </div>
                <!-- Placeholder comments -->
    <div class="comments-container">
        <h4>Comments</h4>
        <ul>
            {% for comment in bark.comments.all %}
            <li class="comment">
                <div class="comment-header">
                    <h5>{{ comment.name.username }}</h5>
                    <p class="timestamp">{{ comment.date_added }}</p>
                </div>
                <div class="comment-content-display">
                    <p>{{ comment.body }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- placeholder end -->
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>







