<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
  </head>
  <body>
    <div class="top-bar">
      <a href="/" class="logo-link">
        <img
          src="{% static 'images/DHLogo.png' %}"
          alt="DawgHouse Logo"
          class="logo"
        />
      </a>
    </div>

    <div class="profile-cover">
      <img
        src="{% static 'images/msstate.jpg' %}"
        alt="{{ user.username }}'s cover photo"
      />
    </div>
    <div class="profile-content">
      <div class="profile-header">
        <img
          src="{% static 'images/profilePicture.jpg' %}"
          alt="{{ user.username }}'s profile picture"
        />
        <div class="profile-name-bio">
          <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <p>@{{ user.username }}</p>
        </div>
      </div>
      <div class="profile-layout">
        <div class="bio-container">
          <strong>Bio</strong>
          <p>{{ user.bio }}</p>
          <button>Edit Bio</button>

          <div class="friends-list">
            <strong>Pack</strong>
            {% if friends_list %}
            <ul>
              {% for friend in friends_list %}
              <li>@{{ friend.username }}</li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No friends yet!</p>
            {% endif %}
          </div>
        </div>

        <div class="add-bark-container">
          <form action="{% url 'post_bark' %}" method="post">
            {% csrf_token %}
            <div class="bark-input-group">
              <strong>Add a Bark</strong>
              <textarea
                name="bark_content"
                placeholder="What's on your mind?"
              ></textarea>
            </div>
            <button type="submit">Post Bark</button>
          </form>
        </div>

        <!-- Barks List -->
        <div class="barks-container">
          <h2>Timeline</h2>
          <ul>
            {% for bark in barks %}
            <li class="bark">
              <p><strong>User:</strong> {{ bark.user.username }}</p>
              <p><strong>Content:</strong> {{ bark.content }}</p>
              <p><strong>Timestamp:</strong> {{ bark.timestamp }}</p>
              <p><strong>Treats:</strong> {{ bark.num_likes }}</p>
              <form action="{% url 'give_treat' bark.id %}" method="post">
                {% csrf_token %} {% if user in bark.treated_by.all %}
                <button type="submit" style="background-color: red">
                  Remove Treat
                </button>
                {% else %}
                <button type="submit">Give a Treat</button>
                {% endif %}
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
