body {
    font-family: Arial, sans-serif;
    background-color: rgb(225, 225, 225);
    margin: 20px; 
    padding: 0;
}
.box .sidebar p
{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.box .sidebar
{
    position: fixed;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #5d1725;
    width: 200px;
    padding-bottom: 55%;
    transition: all 0.5s ease;
}
.box .sidebar ul li{
    list-style-type: none;
}
.box .sidebar ul li a
{
    padding-left: 20px;
    text-decoration: none;
    display: block;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    position: relative;
}
.box .sidebar ul li a .icon
{
    color: white;
    font-size: 25px;
    padding-right: 10px;

}
.top-bar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 5px; 
    position: relative;
}
/* styling for the search bar and its components */
.search-bar-container {
    display: flex; 
    align-items: center;
    background-color: white; 
    border-radius: 20px;
    padding: 5px 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

/* styling for the search input text box */
#searchInput {
    border: none; 
    outline: none;
    padding: 5px; 
    flex-grow: 1; 
}

/* search icon styling */
.fa-search {
    color: #5d1725; 
    cursor: pointer; 
}

.search-bar-container button {
    background: none;  
    border: none;  
    padding: 5px; 
    cursor: pointer;  
    color: #5d1725;  
}

.search-bar-container button:hover {
    opacity: 0.7;  
}

.search-bar-container button .fa-search {
    font-size: 16px; 
}
/* link container for the site's logo */
.logo-link {
    display: inline-block; 
    vertical-align: middle; 
    z-index: 10;  
}

/* site logo styling */
.logo {
    height: 70px; 
    width: auto;
    transition: opacity 0.3s ease;
}

/* hover effect for the site logo */
.logo-link:hover .logo {
    opacity: 0.7;  
}

/* general styling for each individual bark (post) */
.bark {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* styling for unordered lists */
ul {
    list-style-type: none;
    padding: 0;
}

/* container for the main content of barks or posts */
.barks-container {
    flex: 1 100%;  
    width: 60%;  
    margin-left: auto;  
    margin-right: auto;
    background-color: #5d1725;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: black;
    margin-top: 20px; 
}

/* header for the barks section */
.barks-container h2 {
    margin: 0;
    margin-bottom: 20px; 
    text-align: center;
    color: #e1e1e1; 
}

/* styling for the list of barks */
.barks-container ul {
    list-style-type: none;
    padding: 0;
}

/* individual bark styling */
.barks-container li {
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px; 
    background-color: rgb(225, 225, 225); 
    border-radius: 5px; 
}

/* title or username of the bark author */
.barks-container h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: bold;
}

/* timestamp of the bark */
.barks-container h4 { 
    font-size: 10px;
    font-weight: normal;
    margin-top:  -5px;
    margin-left: 10px;
    color: #606060;
}

/* counters for the number of treats, yips, and howls a bark has */
.counters-container h4
{
    font-size: 12px;
    font-weight: normal;
    margin-top:  5px;
    margin-left: 10px;
    color: #606060;
}

/* container for counters of treats, yips, and howls */
.counters-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

/* counter for comments or yips on the bark */
.comment-counter {
    margin-left: 10px;
}

/* counter for shares or howls of the bark */
.share-counter {
    position: absolute;
    margin-left: 1000px;
}

/* header section for each individual bark */
.bark-header {
    display: flex;
    justify-content: space-between;  
}

.user-names h4 {
    margin-top: 5px;
}

.user-names p
{
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-top: -5px;
}

.user-names a {
    text-decoration: none;
    color:#333;
}


/* timestamp for the bark */
.barks-container .timestamp {
    text-align: right;
    font-size: 15px;
    margin-top: 5px;
    color: #606060;
}

/* divider between barks */
.barks-container hr {
    margin-top: -10px;
}

/* button for actions on the bark, like giving a treat */
.barks-container button
{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #b2b2b2;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding-top: 4px;
    margin-top: 0px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: white;
    border: none;
}

/* styling for the content of the bark */
.barks-container p
{
    margin-left: 10px;
}

/* display content of the bark */
.bark-content-display {
    position: relative; 
    padding-right: 25px; 
}

.action-icons {
    display: flex;
    align-items: center;
    gap: 10px;  
}

/* group of buttons for bark actions like treat, yip, and howl */
.button-container {
    display: flex;       
    align-items: center; 
    gap: 10px;           
}

/* inline form styling, potentially for other elements */
.inline-form {
    display: flex;       
    gap: 5px;            
    margin: 0;           
}

.comments-container h2{
    text-align: left;
    color:black;
    font-size: 12px;
    margin-top: 8px;
}
#comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .comment {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  

  .comment-header {
    margin-bottom: 1px; 
  }
  
  .comment .comment-content-display {
    margin-top: 25px; 
    flex-grow: 1;
    overflow-wrap: break-word;
  }
  
  .username {
    font-weight: bold;
    margin-top: -10px; 
  }
  
  .comment .timestamp {
    font-size: 10px;
    color: #777; 
    margin-top: -35px;
    margin-bottom: -20px;
  }
  
  .comment .delete-comment {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    color: #d0d0d0;
  }
  
  .comment .delete-comment:hover {
    color: #5d1725; 
  }
  
  .comments-container h2{
    text-align: left;
    color:black;
    font-size: 12px;
    margin-top: 8px;
}
/* container for adding a new bark */
.add-bark-container {
    flex: 1; 
    background-color: #5d1725;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: white;
    max-height: 250px;
    margin-top: 20px;
    margin-left: 19%;  
    margin-right: 19%;
}
/* group styling for the bark input area */
.bark-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: 80%;  
    margin: 0 auto; 
}

/* styling for the textarea for adding a bark */
.add-bark-container textarea {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;  
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    margin: 10px 0; 
    border-radius: 15px;
    resize: none; 
    background-color:#f7f7f7; 
    height: 65px;
}

/* button styling for posting a bark */
.add-bark-container button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 60%;  
    display: block;
    padding: 10px;
    background-color: #f7f7f7;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  