

body {
    font-family: Arial, sans-serif;
    background-color: rgb(225, 225, 225);
    color: #333;
    margin: 20px; 
}

.profile-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}


.profile-content {
    grid-column: 2;
}

.profile-cover img {
    display: block;  
    width: 100%;
    height: 300px;
    object-fit: cover;  
    margin: 0;
    border-radius: 10px;
}

.profile-header {
    position: relative;
    background-color: #5d1725;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;  
    gap: 15px;
    margin-top: -30px;
    min-height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
}

.profile-header img {
    position: absolute;
    top: -85px;
    left: 20px;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%; 
    border: 5px solid #5d1725;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-name-bio {
    display: flex;
    flex-direction: column;  
    gap: 5px;  
    margin-left: 220px; 
}

.profile-name-bio h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;  
    margin-top: 0;
}

.profile-name-bio p {
    margin: 5px 0;  
    margin-top: 5px;
}

.bark {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}


.bio-container {
    flex: 0 0 30%;
    background-color: #5d1725;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: white;
}

.bio-container strong {
    display: block; 
    text-align: left;  
    margin-bottom: 10px;  
    margin-left: 10px;
    font-size: 20px;
}


.bio-container p {
    text-align: center;  
}

.bio-container button {
    display: block;  
    width: 100%;  
    padding: 10px;  
    margin-top: 10px;  
    background-color: #f7f7f7;  
    color: black;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
}

.bio-container button:hover {
    background-color: rgb(235, 235, 235);  
}

.bio-container textarea
{
    resize: none;
    width: 97%;
    height: 100px;
}

.friends-list {
    margin-top: 40px;
}

.friends-list strong {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.friends-list ul {
    padding-left: 20px;  
}

.add-bark-container {
    flex: 1;
    background-color: #5d1725;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: white;
    max-height: 250px;
}
.bark-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    width: 80%;  
    margin: 0 auto; 
}

.add-bark-container textarea {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;  
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    margin: 10px 0; 
    border-radius: 5px;
    resize: none; 
    background-color:#f7f7f7; 
    height: 65px;
}

.add-bark-container button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 60%;  
    display: block;
    padding: 10px;
    background-color: #f7f7f7;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-bark-container button:hover {
    background-color: rgb(235, 235, 235);
}

.top-bar {
    background-color: rgb(235, 235, 235)white;
    padding: 0px 5px; 

}

.logo-link {
    display: inline-block; 
    vertical-align: middle; 
    z-index: 10;  
}

.logo {
    height: 70px; 
    width: auto;
    transition: opacity 0.3s ease;
}

.logo-link:hover .logo {
    opacity: 0.7;  
}

.barks-container {
    flex: 1 100%;  
    width: 60%;  
    margin-left: auto;  
    margin-right: auto;
    background-color: #5d1725;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: black;
    margin-top: 20px; 
}

.barks-container h2 {
    margin: 0;
    margin-bottom: 20px; 
    text-align: center;
    color: #e1e1e1; 
}

.barks-container ul {
    list-style-type: none;
    padding: 0;
}

.barks-container li {
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px; 
    background-color: rgb(225, 225, 225); 
    border-radius: 5px; 
}

.barks-container h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: bold;
}

.barks-container h4 { 
    font-size: 15px;
    font-weight: normal;
    margin-top:  3px;
    margin-left: 10px;
    color: #606060;
}

.barks-container hr {
    margin-top: -10px;
}

.barks-container button
{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: #606060;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-top: 4px;
    margin-top: 0px;
    box-shadow: 0 4px 8px rgb(127, 126, 126);
    color: white;
    border: none;
}

.barks-container p
{
    margin-left: 10px;
}

